$colores-sociales:  (
						facebook  : #3B558C,
						twitter   : #55ACEE,
						linkedin  : #0177B5,
						youtube   : #CC181E,
						pinterest : #BD1E23,
						rss       : #FF7F29,
						github    : #000
					);

.sociales {
	text-align: center;

	&__item {
		font-size: 1.2em;
		background: $gris-oscuro;
		color: $blanco;
		margin: .2em;
		border-radius: 50%;
		width: 2em;
		height: 2em;
		display: inline-block;
		opacity: .8;
		transition: all .2s;

		@include desde(tablet){
			margin: 0 1em;
		}

		&:hover {
			opacity: 1;
			color: $blanco;
		}

		&:before{
			line-height: 2em !important;
		}
	}
}

.sociales--footer {
	text-align: left;

	.sociales__item {
		background: $blanco;
		color: $negro !important;
		font-size: .9em;
		margin: 0 .7em 0 0;
		text-align: center;
		opacity: .3;

		&:hover {
			color: $blanco !important;
			opacity: .8;
			text-decoration: none !important;
		}
	}
}

@each $red-social, $red-social__color in $colores-sociales {
	.icon-#{$red-social}:hover {
		background: $red-social__color;
	}
}