#footer {
	background : $negro;
	color      : $gris;

	font-size  : .85em;

	// margin-top : 1rem;
	padding    : 1em 0;

	a {
		color : lighten($azul,20%);

		&:hover {
			text-decoration: underline;
		}
	}

	h2 {
		color          : $gris;
		font-size      : 1.2em;
		text-transform : uppercase;
		border-bottom  : 1px solid rgba($gris,.3);
	}
		
	// Cuadricula de 2x2 solo en tamaño tablet
	.grupo{
		@include desde-hasta(tablet,web){
			@include cuadricula(caja,2,2);
		}
	}

	.view-blog {
		line-height: 1.6;

		// Esta clase esta seteada en views. Hay que cambiarla para mostrar un icono de reloj
		.fi-clock {
			margin-left: 1em;
		}
	}
}