#nav {
	@include hasta(web){
		background  : rgba($azul-oscuro,.95);
		padding-top : 1em;

		height      : 93%;
		width       : 100%;
		position    : fixed;
		top         : 50px;
		right       : -100%;
		z-index     : 90;

		overflow: auto;
		
		transition  : all .4s;

		&.mostrar{
			right: 0;
		}

		// Evita que el último item no se vea cuando el menu exceda la altura del viewport
		.menu-principal {
			margin-bottom: 3em;
		}

		// Flecha hacia abajo para expadir los subniveles
		.expandir-submenu{
			position    : absolute;
			right       : 1em;
			top         : 0px;
			line-height : 50px;
			color       : $blanco;
			width       : 2em;
			text-align  : center;
			cursor      : pointer;
		}

		.menu-expandido {
			background: rgba(#000,.4);
			padding: .5em 1em 1em;
		}
	}

	@include desde(web){
		.expandir-submenu {
			display: none;
		}
	}
}

#nav ul.menu {

	a {
		color: $blanco;
		text-transform: uppercase;

		&.active {
			color: $blanco;
		}
	}

	li {
		margin: 0 !important;
	}

	@include hasta(web){
		width: 100%;

		ul {
			display: none;
			padding-left: 1em !important;

			li {
				&:last-child {
					border-bottom: none;
				}
			}

			a {
				font-size: .8em;
				width: 100%;
			}
		}

		li {
			border-bottom: 1px solid rgba(#fff,.2);
		}

		a {
			line-height: 3;
			width: 70%;
		}
	}

	@include desde(web){
		display: table;
		float: right;

		li {
			float: left;
			transition: all .3s;
			position: relative;

			&:hover {
				box-shadow: 0 47px $azul-oscuro inset,
							0 50px darken($azul-oscuro,15%) inset;
			}
		}

		a {
			display: block;
			padding: 0 1.5em;
			height: 50px;
			line-height: 50px;
			font-size: .8em;

			&:before {
				// Ocultar icono en web
				display: none;
			}

			&.active {
				box-shadow: 0 47px $azul-oscuro inset,
							0 50px darken($azul-oscuro,15%) inset;
			}

			.icon-down{
				display: none;
			}
		}

		ul {
			position: absolute;
			top: 100%;
			left: 0;
			background: rgba($azul,.95);
			width: 18em;

			li {
				width: 100%;
				max-height: 0;
				overflow: hidden;
				transition: all .2s;
				box-shadow: 0 1px 0 0 rgba(#fff,.2);

				&:last-child {
					border-bottom: none;
				}

				&:hover {
					background: $azul-oscuro;
					box-shadow: none;
					padding-left: 1em;
				}
			}

			a{

				&:before {
					display: inline-block;
				}
			}
		}

		.menu-padre:hover > ul > li {
			max-height: 50px;
		}
	}
}

#mostrar-menu {
	@include mostrar-menu($blanco,18px);
	float: right;
	margin-right: $caja--separacion / 2;

	&:before {
		margin-right: 0;
	}
}