aside.sidebar {
	// Separa los sidebars verticalmente en moviles
	margin-bottom: 2em !important;
	// Tamaño de fuente más pequeño
	font-size: .9em;
	//Region interna del sidebar
	.region {
		// border: 1px solid rgba($gris,.5);
		// background: #fff;
		// box-shadow: 0 2px 2px -2px #000;
		// padding: 1em;
	}
	// Titulo de los bloques
	h2 {
		margin: 0 0 .5em;
		font-size: $h2--font-size * 0.85;
	}

	.block {
		margin-bottom: 2em;
	}

	// Elementos activos en el sidebar menu
	li {
		transition : all .2s;

		a{
			display : block;

			&:hover {
				text-decoration: none !important;
			}
		}
	}

	li.active,
	ul.menu li:hover {
		background: #fff;
		padding-left: 1em;
	}
}